@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.ql-editor {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  letter-spacing: -0.15px;
  line-height: 1.6;
  z-index: 0;
  border: 1.5px solid #e0e0e0;
  border-top-width: 0;
  border-radius: 0px 0px 2px 2px;
}

.ql-editor p {
  margin: 0;
}

.gen-buttons {
  font-family: 'Mulish', sans-serif;
  font-size: 15.75px;
  /* letter-spacing: -0.15px; */
}